/* Barre de navigation */
.app-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
/* Album */
.album {
    display: flex;
}
.app-content {
    display: flex;
    flex-direction: column;
}
/* Barre de lecture */
.app-bottom {
    display: flex;
    justify-content: space-between;
}
.current {
    display: flex;
}
/* Contrôles de la barre de lecture */
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Titres de l'album */
li {
    display: flex;
    justify-content: space-between;
}