/* Barre de navigation */
.app-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.album {
    display: flex;
}
.current {
    display: flex;
    align-items: center;
}